<!DOCTYPE html>
<html>
<head>
	<title>Chat AjudaAi</title>
	<link rel="stylesheet" type="text/css" href="../static/styleChatPrivado.css">
	<link rel = "shortcut icon" href = "../static/img/favicon_transparent_32x32.ico">
	<link rel = "shortcut icon" href = "../static/img/remove bg logo.png">

</head>
<body>
    <header>
        <header>
            <h1><img src="../static/img/remove bg logo.png" width="150" height="130"></h1>
            <nav id="menuLateral">
                <a href="{{ url_for('index') }}">Página Inicial</a>
                <a href="{{ url_for('entrar') }}">Entrar</a>
                <a href="{{ url_for('sobre') }}">Sobre</a>
                <a href="{{ url_for('contato') }}">Fale com a gente</a>
            </nav>
        </header>
    </header>
    <main style="scroll-behavior: ;">
        
        <div class="chat-container">
            <div class="chat-header">
                <h2>Chat</h2>
            </div>
            <div id="chat-messages" class="chat-messages">
                <div class="date">
                    <p>28 de março de 2023</p>
                </div>

                {% for mensagem in mensagens %}
                    {% if mensagem['codUsuario'] == usuario_ativo %}
                        <div class="message sent">
                            <div class="message-content">
                                <p class="message-sender">Você:</p>
                                <p class="message-text">{{ mensagem['texto'] }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="message received">
                            <div class="message-content">
                                <p class="message-sender">Tutor:</p>
                                <p class="message-text">{{ mensagem['texto'] }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            <div>
                <form class="chat-input" method="POST" action="{{ url_for('mensagem_chat', cod_demanda=demanda) }}" enctype="multipart/form-data">
                    <input name="mensagem" type="text" placeholder="Digite sua mensagem aqui...">
                    <button>Enviar</button>
                </form>
            </div>
        </div>

    </main>
	<footer>
		<p><div class="container-button"><button class="back-button"><a href="{{ url_for('retorna_lista') }}">Voltar</a></button></div></p>
	</footer>
    <script>
        window.addEventListener('load', function() {
            var chatMessagesDiv = document.getElementById('chat-messages');
            chatMessagesDiv.scrollTop = chatMessagesDiv.scrollHeight;
            window.scrollTo(0, document.documentElement.scrollHeight);
        });
    </script>
</body>
</html>
